@charset "UTF-8";

* {
    font-size: 1.1em;
}

body {
    width: 750px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0);
}

#vs_logo {
    height: 125px;
    width: 125px;
}

table {
    margin: 20px;
    max-width: 710px;
}

thead {
    font-size: 0.8em;
}

.icon {
    height: 50px;
    width: 50px;
}

.error,
.success {
    background-size: 25px;
}

main section {
    margin: 30px;
    margin-left: 50px;
}

article {
    margin-bottom: 30px;
}

#tech_center_vs {
    height: 110px;
}

#shield {
    height: 80px;
}

#radar {
    width: 350px;
}