@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=VT323&display=swap');

:root {
    --blue: #0449FF;
    --red: #FF2920;

    --font: 'Boogaloo', cursive;
}

* {
    font-family: var(--font);
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 350px;
    margin: auto;
    margin-top: 10px;
    background-color: #022859;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.95);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
}

#vs_logo {
    height: 70px;
    width: 70px;
    background: url('../images/vs_logo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
}

header>ul {
    display: grid;
    gap: 5px 20px;
    margin: 10px;
    list-style-type: none;
}

header>ul>li {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

header>ul>li>img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    flex-shrink: 0;
    border-radius: 5px;
}

header>section {
    height: 80px;
    width: 35%;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid black;
    display: flex;
    align-items: center;
}

main {
    background-color: white;
}

main>section {
    margin: 10px;
    border-radius: 15px;
    border: 2px solid var(--blue);
    box-shadow: 0px 0px 5px var(--blue);
}

main>section>h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

main>section>ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 20px;
    margin: 5px;
    padding: 0;
    list-style-type: none;
}

main>section>ul>li {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

main>section>h2,
main>section>p {
    text-align: center;
}

main>section>p {
    color: var(--red);
}

section>ul>li>img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    flex-shrink: 0;
    border-radius: 5px;
}

#vs_attack {
    height: 60px;
    width: 200px;
    background: url('../images/attack.png') no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    border-radius: 10px;
}

footer {
    background-color: white;
}

footer>section {
    background-color: black;
    border-radius: 10px;
    text-align: center;
    width: 340px;
    height: 75px;
    margin: auto;
    margin-bottom: 10px;

    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

footer>section>nav {
    padding-top: 10px;
}

footer>section>nav>a>img {
    height: 30px;
}

footer>section>p {
    font-size: 0.9em;
    color: white;
    margin-top: 0px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}